<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>DashboardMetadataUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardMetadataUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardMetadataUploadServlet</servlet-name>
		<url-pattern>/SocatUploadDashboard/MetadataUploadService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardMetadataListServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardMetadataListServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardMetadataListServlet</servlet-name>
		<url-pattern>/SocatUploadDashboard/MetadataListService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CruiseDataColumnSpecsServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.CruiseDataColumnSpecsServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CruiseDataColumnSpecsServlet</servlet-name>
		<url-pattern>/SocatUploadDashboard/DataColumnSpecsService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardCruiseListServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardCruiseListServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardCruiseListServlet</servlet-name>
		<url-pattern>/SocatUploadDashboard/CruiseListService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardCruiseUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardCruiseUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardCruiseUploadServlet</servlet-name>
		<url-pattern>/SocatUploadDashboard/CruiseUploadService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardLogoutServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardLogoutServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardLogoutServlet</servlet-name>
		<url-pattern>/SocatUploadDashboard/LogoutService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SocatUploadDashboard.html</welcome-file>
	</welcome-file-list>

</web-app>
