<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>dashboardCruiseListServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardCruiseListServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dashboardCruiseListServlet</servlet-name>
		<url-pattern>/socatuploaddashboard/cruiseListService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardCruiseUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardCruiseUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardCruiseUploadServlet</servlet-name>
		<url-pattern>/socatuploaddashboard/cruiseUploadService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dashboardLogoutServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.socat.dashboard.server.DashboardLogoutServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dashboardLogoutServlet</servlet-name>
		<url-pattern>/socatuploaddashboard/logoutService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SocatUploadDashboard.html</welcome-file>
	</welcome-file-list>

</web-app>
