@charset "utf-8";

.clsControlDrawPolygonActive { 
  cursor: crosshair;
}

.clsControlDrawRectangleActive { 
  cursor: crosshair;
}

.zoomin {
  background-image:url(../images/zoominD.png) !important; 
  height:20px !important;
  width:20px !important; 
}
.zoomout {
  background-image:url(../images/zoomoutD.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.fullext {
  background-image:url(../images/fullextD.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.pan {
  background-image:url(../images/panD.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.back {
  background-image:url(../images/resultset_previous.png) !important;
  height:20px !important; 
  width:20px !important; 
}
.next {
  background-image:url(../images/resultset_next.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.drawpolygon {
  background-image:url(../images/draw_polygon.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.drawrect {
  background-image:url(../images/draw_rect.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.clearpolygon {
  background-image:url(../images/clear_polygon.png) !important; 
  height:20px !important; 
  width:20px !important; 
}
.selectcountry {
  background-image:url(../images/globe.gif) !important; 
  height:20px !important; 
  width:20px !important; 
}


#bboxholder {
  width: 400px;
  height: 250px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: left;
  text-align: left;
}

