
.form-required
{
	color:red;
	font-weight:bold;
}
.error
{
	color:red	
}

legend {
	font-weight: bold;
	font-size: 22px;
	color: #0F4880;
}

fieldset {
	margin-bottom: 5px;
	border:2px solid  #0F4880;
	padding:5px;
}

.section1 {
	font: bold
}

.section2 {
	font: normal
}

#logo {
	/*background: url(../images/index.jpg) #000000;*/
	width: 1000px;
	height: 150px;
	background: rgb(170, 204, 238);
}

#title {
	height: 130px;
	font-size: 35px;
	font-weight: bold;
	padding: 10px;
	margin-top: 100px;
	margin-right: 10px;
	text-align: right;	
	color: #0F4880;
}

.description
{
 color:blue;
}

#mainform {
	padding:10px;
	font-family:"Times New Roman", Times, serif;
}

.recaptcha_is_showing_audio .recaptcha_only_if_image,.recaptcha_isnot_showing_audio .recaptcha_only_if_audio,.recaptcha_had_incorrect_sol .recaptcha_only_if_no_incorrect_sol,.recaptcha_nothad_incorrect_sol .recaptcha_only_if_incorrect_sol
	{
	display: none !important
}
.form_type, #sensor0, #sensor1{
	display:none;
}
input{
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	}
textarea{
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
}
li{
	
padding:3px;	
}
.section2
{
padding:3px;	
}
.marker{
color:red;	
}

#header{
	height: 70px;
	border-bottom: 1px solid rgb(229, 229, 229);
	margin-bottom: 20px;
	background-color: #006ca8;
	background: -moz-linear-gradient(center top, #ACE,
		#BDF) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ACE),
		to(#BDF));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ACE),
		to(#BDF));
	
	padding: 10px;
	color: #0566ad;
	
}
.section {
    padding: 5px 20px;
    background-color: #F6F6F6;
    border: 2px solid #E1E1E8;
    font-family: Verdana,Arial,Geneva,sans-serif;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Chevrons */
.nav-list  {
    position:fixed;   
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 165px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 110px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  font-weight:bold;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
    background-color: rgb(0, 136, 204);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
   background-color: rgb(0, 136, 204);
   color: #ffffff;
}
.bs-docs-sidenav > li > a:active
{
	background-color: rgb(0, 136, 204);
   color: #ffffff;
}
.bs-docs-sidenav > li > a:focus
{
	background-color: rgb(0, 136, 204);
   color: #ffffff;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.select2
{
	
	margin-bottom:10px!important;
}
.short {
   
    width: 70% !important;
    font-size: 12px !important;
}

input[type="text"], textarea, .select2 {
   
    width: 97%;
    font-size: 12px !important;
}
input[type="text"]
{
 	height: 20px !important;
}

.vertical-center {
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
  }
