<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>OAP Upload Dashboard</display-name>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>

	<!-- Servlets -->
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.DashboardServices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/DashboardServices</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardCruiseUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.CruiseUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardCruiseUploadServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/CruiseUploadService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardMetadataUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.MetadataUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardMetadataUploadServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/MetadataUploadService</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>AuthenticateFilter</filter-name>
		<filter-class>gov.noaa.pmel.dashboard.server.AuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>OAP Dashboard</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>oapdashboarduser</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>oapdashboarduser</realm-name>
		<form-login-config>
			<form-login-page>/oaplogin.html</form-login-page>
			<form-error-page>/oaploginerror.html</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<description>OAP Dashboard User</description>
		<role-name>oapdashboarduser</role-name>
	</security-role>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>OAPUploadDashboard.html</welcome-file>
	</welcome-file-list>

</web-app>
