<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#7391AD" align="left">
				<a href="https://ferret.pmel.noaa.gov/LAS/" target="_new"><span class="top_link_title">Live Access Server</span></a>
			</td> 
			<td bgcolor="#7391AD" align="center" >
				<a style="text-decoration:none" href="doc/Fair_Data_Use_Statement_for_SOCAT.pdf" target="_new"><span class="policy_link">SOCAT Fair Data Use Statement</span></a>
			</td>
			<td bgcolor="#7391AD" align="right" >
				<a href="$server_config.getFTDSBase()" target="_new"><span class="top_link_left">OPeNDAP (F-TDS) / THREDDS</span></a> 
			</td>
	  	</tr>
	  	<tr>
			<td bgcolor="#7391AD" align="left">
				<div style="position:relative;height:33px;overflow:hidden;width:100%;margin-right:0px;margin-left:0px;border-bottom:1pt solid #FFFFFC">
					<span  style="color:Black;position:relative;left:10px;top:0px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle()</span>
					<span  style="color:Black;position:relative;left:12px;top:0px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle()</span>
					<span  style="color:Black;position:relative;left:10px;top:2px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle()</span>
					<span  style="color:Black;position:relative;left:12px;top:2px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle()</span>
					<span  style="color:#FFFFFC;position:relative;left:11px;top:1px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle()</span>
				</div>
			</td>
			<td bgcolor="#7391AD" align="center" style="border-bottom:1pt solid #FFFFFC">
			</td>
			<td id="headerBottomRight" bgcolor="#7391AD" width="55px" align="right" style="border-bottom:1pt solid #FFFFFC;padding-right:6px;">
				<link rel="stylesheet" href="JavaScript/ui/LASUI.css" type="text/css"/>
			</td>
		</tr>
	</tbody>
</table>
