@CHARSET "UTF-8";

.areapanel {
    display: block;
    margin: 0.5em;
}

.cellpanel {
    display: inline;
    width: min-content;
    margin: 0 0.5em;
}

.dockpanel {
    width: 80em;
    height: 35em;
}

.header {
    font-size: medium;
    font-weight: bold;
    margin: 0.5em 0;
}

.mainpanel {
    width: 70em;
    height: 100%;
}

.modbutton {
    display: inline;
    font-size: medium;
    width: 12em;
    margin-left: 14em;
}

.rowpanel {
    display: block;
    width: max-content;
    margin: 0.5em 0;
}

.scrollpanel {
    width: 100%;
    height: 100%;
}

.sidebutton {
    display: block;
    font-size: medium;
    width: 7.5em;
    margin: 0.75em;
}

.sidepanel {
    background-color: #AACCEE;
    margin: 0 0.5em;
}

.tabpanel {
    width: 100%;
    height: 30em;
}
