<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="propertiesBean" class="ornl.beans.Configuration">
    <property name="properties">
        <map>
            <entry key="xmlStyle" value="fgdc" />
            <entry key="XMLStyleMap" value="/usr/local/apache-tomcat-7.0.59/webapps/SocatOME/fgdc_template.xml" />
            <entry key="XMLOutPath" value="/usr/local/apache-tomcat-7.0.59/webapps/SocatOME/" />
            <entry key="delimiter" value="\|\|" />
            <entry key="linkbasepath" value="http://localhost/SocatOME/" />
            <entry key="sender" value="metadata_editor@usgs.gov" />
            <entry key="contact" value="mercury-service@ornl.gov" />
            <entry key="smtp" value="mail.smtp.host" />
            <entry key="mail_host" value="smtp.ornl.gov" />
<!--             <entry key="logo" value="http://mercury-ops2:8080/OME/images/USGS_logo.jpg" /> -->
            <entry key="win_base" value="" />
            <entry key="lin_base" value="/usr/local/apache-tomcat-7.0.59/webapps/SocatOME/" />
            <entry key="redirect" value="true"/>
            <entry key="stylesheet" value="/usr/local/apache-tomcat-7.0.59/webapps/SocatOME/removeEmpty.xsl" />
        </map>
    </property>
</bean>
<bean id="NameUtil"
    class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location" value="ornl/client/dataset2.properties" />
</bean>

<bean id="Util"
    class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location" value="ornl/client/list.properties" />
</bean>


</beans>
