.section {
    padding: 5px 20px;
    background-color: #F6F6F6;
    border: 2px solid #E1E1E8;
    font-family: Verdana,Arial,Geneva,sans-serif;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header{
	/*height: 70px;*/
	border-bottom: 1px solid rgb(229, 229, 229);
	margin-bottom: 20px;
	background-color: #006ca8;
	background: -moz-linear-gradient(center top, #ACE,
		#BDF) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ACE),
		to(#BDF));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ACE),
		to(#BDF));
	
	padding: 0px;
	color: #0566ad;
	
}


.btn_link {
	color: white !important;
	text-decoration: none !important;
	font-size: 17px !important;
	font-weight:bold;	
}

.form-signin {
	
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.form-registration {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.request-signin {
	max-width: 300px;
	padding: 0px 29px 29px;
	text-align: center;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 20px;	
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
.form-signin h4 strong {
    display: inline-block;
    position: absolute;
    height: 35px;
    width: 250px;
    
 	background: url("../images/logo-thumb.png") no-repeat scroll 0% 0% transparent;
 	background-position:right top;
}
.form-registration h4 strong {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 230px;    
 	background: url("../images/logo-thumb.png") no-repeat scroll 0% 0% transparent;
 	background-position:right top;
}
.description {
	margin-bottom: 3px;
	font-size: 12px;
	color: grey;
	font-style: italic;
}




#applyStyleSheet, #error-mssg
{
	display:none;
}
 
 #removeStyleSheet a:link{
	color:#755E19 !important;
}
#removeStyleSheet a:visited{
	color:#004000 !important;
}
 .error
	{
	color:red;
	}
.errorblock
	{
	color:red;
	text-align:center;
	}
.description
{

	font-size:14px;
	color:grey;
	font-style:italic;
}
.fullTable tr td{
   /* box-shadow: 0px 0px 7px #989898;*/
   border: 2px solid rgb(225, 225, 232);
    padding: 2px;
    font-size:16px;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}