@CHARSET "UTF-8";

.regionsbox {
    height: 10em;
    width: 100%;
}

.regionsbox-invalid {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.unitlabel {
    display: inline;
    margin-left: 0em;
    margin-right: 0.5em;
}

.valuebox {
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.valuebox-invalid {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.valuelabel {
    display: inline;
    margin-left: 1em;
    margin-right: 0em;
}

.valuespanel {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
