@CHARSET "UTF-8";

.grid {
    display: grid;
    column-gap: 0.25em;
    row-gap: 1em;
    margin: 0.25em;
}

.gridlabel {
    text-align: right;
    font-size: medium;
    width: 12em;
}

.gridtext {
    width: 12em;
}

.gridunit {
    text-align: left;
    font-size: medium;
    width: 8em;
}

.dateunit {
    text-align: left;
    font-size: small;
    width: 8em;
}

.regionspanel {
    display: inline;
    margin: 0.25em;
}

.regionsbox {
    height: 10em;
    width: 60em;
}
