@CHARSET "UTF-8";

.areapanel {
    display: block;
    margin: 0.5em;
}

.cellpanel {
    display: inline;
    width: min-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.dockpanel {
    height: 35em;
}

.mainpanel {
    width: 100%;
    height: 100%;
}

.modbutton {
    display: inline;
    width: 12em;
    margin-left: 6em;
}

.rowpanel {
    display: block;
    width: max-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.scrollpanel {
    width: min-content;
}

.sidebutton {
    display: block;
    width: 7.25em;
    margin: 0.75em;
}

.sidepanel {
    background-color: #AACCEE;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.tabpanel {
    width: 100%;
    height: 32em;
    margin: 0;
}
