@CHARSET "UTF-8";

.firstnamebox {
    display: inline;
}

.firstnamelabel {
    display: inline;
}

.idbox {
    display: inline;
}

.idlabel {
    display: inline;
}

.idpanel {
    display: block;
}

.idtypebox {
    display: inline;
}

.idtypelabel {
    display: inline;
}

.lastnamebox {
    display: inline;
}

.lastnamelabel {
    display: inline;
}

.middleinitbox {
    display: inline;
}

.middleinitlabel {
    display: inline;
}

.namepanel {
    display: block;
}

.orgbox {
    display: inline;
}

.orglabel {
    display: inline;
}

.orgpanel {
    display: block;
}
