@CHARSET "UTF-8";

.prefixlabel {
    display: inline-block;
    text-align: right;
    font-size: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0.25em;
}

.prefixlabel-invalid {
    color: red;
    font-weight: bold;
    font-style: oblique;
}

.suffixlabel {
    display: inline;
    font-size: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0.25em;
    margin-right: 0;
}

.valuebox {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
