@CHARSET "UTF-8";

.doibox {
    display: inline;
}

.doilabel {
    display: inline;
}

.doipanel {
    display: block;
}

.idbox {
    display: inline;
}

.idlabel {
    display: inline;
}

.idpanel {
    display: block;
}

.namebox {
    display: inline;
}

.namelabel {
    display: inline;
}

.namepanel {
    display: block;
}

.sectionbox {
    display: inline;
}

.sectionlabel {
    display: inline;
}

.sectionepanel {
    display: block;
}
