@CHARSET "UTF-8";

.countrybox {
    display: inline;
}

.countrylabel {
    display: inline;
}

.countrypanel {
    display: block;
}

.idbox {
    display: inline;
}

.idlabel {
    display: inline;
}

.idpanel {
    display: block;
}

.namebox {
    display: inline;
}

.namelabel {
    display: inline;
}

.namepanel {
    display: block;
}

.ownerbox {
    display: inline;
}

.ownerlabel {
    display: inline;
}

.ownerpanel {
    display: block;
}

.typebox {
    display: inline;
}

.typelabel {
    display: inline;
}

.typepanel {
    display: block;
}
