@CHARSET "UTF-8";

.sidescroll {
    width: 4.5em;
}

.modbutton {
    font-size: small;
    margin: 0.25em;
}

.valslist {
    font-size: small;
    margin: 0.25em;
}

.hidden {
    visibility: hidden;
    width: 5em;
    height: 1em;
}

.mainscroll {
    width: min-content;
}
