@CHARSET "UTF-8";

.sidepanel {
    width: 7.5em;
    padding: 0.25em;
    margin: 0;
}

.modbutton {
    display: block;
    font-size: small;
    width: 7.5em;
    margin: 0.5em;
}

.valslist {
    display: block;
    font-size: small;
    height: 24em;
    width: 7.5em;
    border-width: 0;
    margin: 0.5em;
}

.stashpanel {
    width: 7.5em;
    height: 1em;
}

.mainscroll {
    width: min-content;
}
