@CHARSET "UTF-8";

body {
	background-color: #BBDDFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.fixedwidthcontainer {
	width: 35em;
}

.horizontalpanel {
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.horizontalbutton {
	width: 5em;
	margin-left: 3.5em;
	margin-right: 3.5em;
}

.introhtml {
	text-align: justify;
	padding: 2em;
}

.infopanel {
	background-color: #CCCCCC;
	width: 25em;
}
.infohtml {
	text-align: justify;
	padding: 1em;
}
.infobutton {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.labeledtextpanel {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.labeledtextlabel {
	font-family: monospace;
	font-weight: bold;
	font-size: large;
	margin-right: 0.25em;
}
.labeledtextbox {
	width: 20em;
	margin-left: 0.25em;
}

.loginbutton {
	display: block;
	font-weight: bold;
	font-size: large;
	width: 10em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.socatinfoanchor {
	font-weight: bold;
	font-size: large;
}

.socatinfopanel {
	margin: 2em;
}
