@CHARSET "UTF-8";

body {
	width: 100%;
	height: 100%;
	background-color: #DEF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.addinfo {
	display: block;
	margin-left: 1em;
	margin-bottom: 1em;
}

.advancedbutton {
	display: block;
	font-size: 100%;
	width: 15em;
	margin: 1em 2em;
}
.advancedpanel {
	display: block;
}

.agreepanel {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 1.25em;
}
.agreecheckbox {
	display: inline;
	margin-left: 3em;
}
.agreeinfobutton {
	display: inline;
	font-size: small;
	margin-left: 1.5em;
	margin-right: 0.25em;
}

.borderpanel {
	display: block;
	border-style: solid;
	border-width: 2px;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 1em;
	margin-right: 1em;
}

.cruisenamesintro {
	display: block;
	font-size: large;
	margin-left: 1em;
	margin-bottom: 1em;
}

.cruisespanel {
	display: block;
	margin-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
}

.fullwidthcontainer {
	width: 100%;
	height: 100%;
}

.gridpagerlabel {
	display: block;
	margin-left: 7em;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}
.gridpager {
	display: block;
	margin-left: 3em;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}

.gridresizepanel {
	width: 100%;
	height: 100%;
}

.horizontalbuttonpanel {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
.horizontalbutton {
	display: inline;
	font-size: 100%;
	width: 12em;
	margin-left: 3em;
}

.introhtml {
	display: block;
	margin: 1em;
}

.labeledlistpanel {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.labeledlistlabel {
	display: inline;
	font-size: 100%;
	margin-left: 2em;
	margin-right: 0.5em;
}
.labeledlistbox {
	display: inline;
	font-size: 100%;
	margin-left: 0.5em;
}

.metadatapanel {
	display: block;
	height: 20em;
}
.metadatagridpanel {
	margin-left: 1em;
	margin-right: 1em;
}

.optionsborderpanel {
	display: block;
	border-style: solid;
	border-width: 2px;
	padding: 0.25em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 2em;
	margin-right: 1em;
}
.optionsintro {
	display: block;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.optionpanel {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
.optionbutton {
	display: inline;
	margin-left: 0.75em;
}
.optioninfobutton {
	display: inline;
	font-size: small;
	margin-left: 1.5em;
}
.optionaddninfo {
	display: block;
	font-size: small;
	margin-left: 2.75em;
	margin-top: 0em;
	margin-bottom: 1.5em;
}


.previewpanel {
	height: 35em;
	border-style: solid;
	border-width: 2px;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}
.previewhtml {
	padding: 0.25em;
}

.submitscrollpanel {
	margin-top: 1.5em;
	margin-left: 0.5em;
	margin-right: 1em;
}
.submitpanel {
	background-color: #CDE;
	width: 4em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.submitpanelbutton {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.submitpanelmainbutton {
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.uploadfile {
	display: block;
	font-size: 100%;
	margin: 1em 2em;
}

.uploadpanel {
	display: block;
	width: 4em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.uploadpanelbutton {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.userinfopanel {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
.userinfolabel {
	display: inline;
	margin-left: 1em;
}
.userlogoutbutton {
	display: inline;
	margin-left: 10em;
}
