@CHARSET "UTF-8";

body {
	width: 100%;
	background-color: #EEE;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.contents-panel {
	width: 100%;
	height: 100%;
}

.userinfo-div {
	width: 100%;
}
.userinfo-label {
	font-size: 125%;
	margin-top: 1.25em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}
.logout-button {
	margin-top: 1em;
	margin-bottom: 0.25em;
	margin-left: 5em;
	margin-right: 1em;
}

.upload-panel {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.upload-button {
	font-weight: bold;
	margin-left: 6em;
	margin-right: 6em;
}

.agree-panel {
	width: 100%;
}
.agree-checkbox {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 3em;
	margin-right: 0.25em;
}
.agreeinfo-button {
	color: blue;
	text-decoration: underline;
	border-width: 0;
	outline-width: 0;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0.25em;
}

.submit-panel {
	margin-left: 1em;
	margin-right: 1em;
}
.submit-button {
	margin-top: 3em;
	margin-botton: 3em;
}

.pager {
	margin: 1em;
}

.uploads-panel {
	width: 100%;
	height: 100%;
}
.uploads-grid {
	width: 100%;
	height: 100%;
}
