@CHARSET "UTF-8";

body {
	width: 100%;
	background-color: #EEE;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.userinfo-div {
	margin: 1em;
}
.userinfo-label {
	font-size: 120%;
	height: 1.5em;
}
.logout-button {
	font-weight: bold;
	font-size: 100%;
	height: 1.5em;
	width: 7em;
	margin-left: 5em;
}

.contents {
	padding: 1em;
}
