@CHARSET "UTF-8";

body {
	width: 35em;
	background-color: #EEE;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.intro-panel {
	width: 35em;
}
.intro-label {
	font-size: 120%;
	padding: 1em;
	text-align: justify;
}

.relogin-panel {
	width: 35em;
}
.relogin-button {
	font-weight: bold;
	font-size: 100%;
	height: 2.5em;
	width: 11em;
	margin: 1em 5em;
}

.socat-info-panel {
	width: 33em;
	margin: 3em 1em;
}
.socat-info-anchor {
	font-weight: bold;
	font-size: 120%;
}