@CHARSET "UTF-8";

body {
	width: 35em;
	background-color: #EEE;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.intro-label {
	text-align: justify;
	padding: 1em;
}

.labeledtext-panel {
	width: 35em;
}
.labeledtext-label {
	font-family: monospace;
	font-weight: bold;
	font-size: 125%;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	margin-left: 6em;
	margin-right: 0.25em;
}
.labeledtext-textbox {
	visible-length: 15em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0.25em;
	margin-right: 6em;
}

.login-button {
	font-weight: bold;
	width: 9em;
	height: 2.5em;
	margin: 1em 13em;
}

