@CHARSET "UTF-8";

body {
	background-color: #BBDDFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.fixedwidthcontainer {
	width: 35em;
}

.horizontalpanel {
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.horizontalbutton {
	width: 5em;
	margin-left: 3.5em;
	margin-right: 3.5em;
}

.introtitle {
	display: block;
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
}
.introhtml {
	display: block;
	text-align: justify;
	padding-top: 0.5em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.infopanel {
	background-color: #CCCCCC;
	width: 35em;
}
.infohtml {
	text-align: justify;
	padding: 1em;
}
.infobutton {
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.labeledtextpanel {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.labeledtextlabel {
	font-family: monospace;
	font-weight: bold;
	font-size: large;
	margin-right: 0.25em;
}
.labeledtextbox {
	width: 16em;
	margin-left: 0.25em;
}

.loginbutton {
	display: block;
	font-weight: bold;
	font-size: large;
	width: 8em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.reloginpanel {
	margin: 2em;
}

.reloginanchor {
	font-weight: bold;
	font-size: large;
}
