@CHARSET "UTF-8";

body {
	width: 100%;
	height: 100%;
	background-color: #BBDDFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.addldocsgrid {
	display: block;
	height: 20em;
	margin: 1em;
}

.advancedoptionspanel {
	display: block;
	margin-left: 1em;
	margin-top: 1em;
}

.agreepanel {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.agreecheckbox {
	display: inline;
	margin-left: 3em;
}

.cruiselistdockpanel {
	width: 100%;
	height: 40em;
}
.cruiselistgrid {
	margin-top: 1em;
	margin-right: 0.5em;
}
.cruisebuttonspanel {
	background-color: #AACCEE;
	padding-top: 0em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.cruisepanelmainbutton {
	display: block;
	width: 7.25em;
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}
.cruisebuttonpanelseparator {
	display: block;
	height: 0px;
	border-style: solid;
	border-width: 1px;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
.cruisepanelbutton {
	display: block;
	width: 7.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.datagrid {
	height: 27em;
	margin: 1em;
}
.datapagerlabel {
	margin-left: 7em;
	float: left;
}
.datapager {
	margin-left: 3em;
	float: left;
}
.datamsgpanel {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.datamsglabel {
	margin-right: 3em;
	float: right;
}
.datamsgbutton {
	font-size: small;
	margin-right: 3em;
	float: right;
}
.datamsgreset {
	clear: both;
}

.fullpagecontainer {
	width: 100%;
	height: 100%;
}

.horizontalbuttonpanel {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
.horizontalbutton {
	display: inline;
	font-size: 100%;
	width: 12em;
	margin-left: 3em;
}

.introhtml {
	display: block;
	margin: 1em;
}

.labeledlistpanel {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.labeledlistlabel {
	display: inline;
	font-size: 100%;
	margin-left: 2em;
	margin-right: 0.5em;
}
.labeledlistbox {
	display: inline;
	font-size: 100%;
	margin-left: 0.5em;
}

.omeoptionpanel {
	display: block;
	border-style: solid;
	border-width: 1px;
	padding: 0.25em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 1em;
	margin-right: 1em;
}
.omecruiselabel {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0.5em;
	marging-right: 1em;
}
.omeoptionradio {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 1em;
	margin-right: 1em;
}
.omeoptionradiopiece {
	display: inline;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0.5em;
}
.omeoptiontext {
	display: inline;
	width: 16em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0em;
}

.optionsborderpanel {
	display: block;
	border-style: solid;
	border-width: 1px;
	padding: 0.25em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 2em;
	margin-right: 1em;
}
.optionsintro {
	display: block;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.optionpanel {
	display: block;
	margin-top: 1em;
	margin-bottom: 0em;
}
.optionradiobutton {
	display: inline;
	margin-left: 0.75em;
}
.optioninfoanchor {
	display: inline;
	font-size: small;
	margin-left: 1.5em;
}
.optionaddninfo {
	display: block;
	font-size: small;
	margin-left: 2.75em;
	margin-top: 0em;
	margin-bottom: 1em;
}

.plotspanel {
	display: block;
	width: 90em;
	height: 710px;
	margin-top: 1em;
	margin-bottom: 1em;
}
.plotslabel {
	font-size: small;
}
.plotsimage {
	display: inline;
	margin: 0em;
}

.previewbutton {
	display: block;
	font-size: small;
	width: 10em;
	margin: 2em;
}
.previewcaptionpanel {
	display: block;
	margin: 1em;
	padding-left: 1em;
	padding-right: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}
.previewscrollpanel {
	height: 25em;
}
.previewhtml {
	padding: 0.25em;
}

.settingscaptionpanel {
	display: block;
	margin: 1em;
}
.settingsradiopanel {
	display: block;
	margin: 0em;
	border-bottom-style: groove;
	border-width: 2px;
	border-color: #CCCCCC;
}
.settingsradiobutton {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 1em;
}

.titlepanel {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.titlemainpanel {
	dislay: block;
	background-color: #AACCEE;
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-top: 1.0em;
	padding-bottom: 1.5em;
}
.titlepagelabel {
	display: inline;
	font-size: large;
	font-weight: bold;
	margin-top: 0.25em;
	margin-left: 1em;
	float: left;
}
.titleuserlabel {
	display: inline;
	font-size: small;
	margin-top: 0.5em;
	margin-right: 2em;
	float: right;
}
.titlelogoutbutton {
	display: inline;
	font-size: small;
	margin-right: 1em;
	float: right;
}
.titlereset {
	clear: both;
}
.titleimage {
	display: block;
	height: 44px;
	width: 75px;
	position: absolute;
	top: 0.5em;
	left: 50%;
	margin-left: -25px;
}

.uploadfile {
	display: block;
	width: 90%;
	font-size: 100%;
	margin: 2em;
}
